
@{
    ViewBag.Title = "Home Page";
}

<h2 style="align-content:center">Reservar</h2>

@*<link rel="stylesheet" href="~/Content/estilos.css">*@




<!--<div class="row">
    <div class="col-sm-9"  >
        <div class="card" >
            <div class="card-body" >
                <form method="post">
                    <div class="col-lg-5">
                        <label>NOMBRE</label>
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>IDENTIDAD</label>
                        <input type="text" name="identidad" placeholder="Identidad" class="form-control" />
                    </div>
                    <div class="col-lg-4">
                        <label class="col-lg-5">EMAIL</label>
                        <input type="text" name="email" placeholder="Email" class="form-control" />
                    </div>-->

                @*---------LINEA SIGIENTE DE LA CARD----------------------*@
                    <!--<div class="col-lg-3">
                        <label>TARJETA CREDITO</label>
                        <input type="text" name="tarjeta" placeholder="Tarjeta" class="form-control" />

                    </div>
                    <div class="col-lg-3">
                        <label>Tipo Reserva </label>
                        <select class="form-control" required>
                            <option value="">Buscar..</option>
                            <option value="1">Reserva 3D</option>
                            <option value="2">Reserva 2D</option>
                        </select>
                    </div>

                    <div class="col-lg-3">
                        <label># Voletos</label>
                        <input type="text" class="form-control" />

                    </div>
                    <div class="col-lg-3" >
                        <label># Sala </label>
                        <input type="text" required class="form-control"/>

                    </div>
                    <div class="col-lg-3">
                        <label># Asientos</label>
                        <input type="text" required class="form-control"/>

                    </div>
                    <br />
                    <div class="form-control">
                        <div class="col-lg-6" >
                            <button type="submit" class="btn btn-danger">Enviar</button>
                        </div>

                    </div>-->
                    @*<div>
                        <h3>@ViewBag.Nombre</h3>
                        <h3>@ViewBag.Identidad</h3>
                        <h3>@ViewBag.Email</h3>
                        <h3>@ViewBag.Tarjeta</h3>
                    </div>*@

                <!--</form>


            </div>
        </div>
    </div>

</div>-->

<div class="card mb-3" style="max-width: 1200px">
    <div class="row g-0">
        <div class="col-md-5">
            <img  width="450" height="500" src="~/img/main/fondo2.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">Reservas</h5>
                <form  action="~/Cine/Registro" method="post">
                    <div class="col-lg-4">
                        <label>Nombre</label>
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control" />
                    </div>
                    <div class="col-lg-4">
                        <label>DPI</label>
                        <input type="text" name="identidad" placeholder="Identidad" class="form-control" />
                    </div>
                    <div class="col-lg-4">
                        <label class="col-lg-5">Correo</label>
                        <input type="text" name="email" placeholder="Email" class="form-control" />
                    </div>

                    @*---------LINEA SIGIENTE DE LA CARD----------------------*@
                    <div class="col-lg-4">
                        <label>Tarjeta Crédito</label>
                        <input type="text" name="tarjeta" placeholder="Tarjeta" class="form-control" />

                    </div>
                    <div class="col-lg-4">
                        <label>Tipo Reserva </label>
                        <select class="form-control" required name="reserva" >
                            <option value="">Buscar..</option>
                            <option value="1">Reserva 3D</option>
                            <option value="2">Reserva 2D</option>
                        </select>
                    </div>

                    <div class="col-lg-4">
                        <label># Voletos</label>
                        <input name="voletos" type="text" class="form-control" />

                    </div>
                    <div class="col-lg-4">
                        <label># Sala </label>
                        <select name="sala" class="form-control" required>
                            <option value="">Buscar..</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                            <option value="5">E</option>
                            <option value="6">F</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label># Asientos </label>
                        <select name="asientos" class="form-control" required>
                            <option value="">Buscar..</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <br />
                    <div>
                        <div class="col-lg-6" style="padding:20px">
                            <button type="submit" class="btn btn-danger">Enviar</button>
                        </div>

                    </div> <br />
                           <div>
                               <h3>@ViewBag.Nombre</h3>
                               <h3>@ViewBag.Identidad</h3>
                               <h3>@ViewBag.Email</h3>
                               <h3>@ViewBag.Tarjeta</h3>
                               <h3>@ViewBag.Tipo_Reserva</h3>
                               <h3>@ViewBag.Voletos</h3>
                               <h3>@ViewBag.Sala</h3>
                               <h3>@ViewBag.Asientos</h3>
                           </div>

                </form>

            </div>
        </div>
    </div>
</div>


